@font-face {
  font-family: "PanDisplay";
  font-weight: bold;
  src: url("fonts/PanDisplay-Bold.woff2");
}

@font-face {
  font-family: "PanDisplay";
  font-weight: light;
  src: url("fonts/PanDisplay-Light.woff2");
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'PanDisplay';
}

.list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.anchor {
  text-decoration: none;
  color: black;
  padding: 0 55px;
  margin: 0 10px;
  font-weight: light;
  font-size: 20px;
  line-height: 65px;
  min-width: 140px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  position: relative;
}

.anchor::before {
  content: "";
  border: 1px solid #f2a4b2;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: .3s;
}

.anchor:hover::before {
  border: 2px solid #f2a4b2;
}
